<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G95</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SolsticeClient</string>
	<key>CFBundleGetInfoString</key>
	<string>Solstice Mac Client</string>
	<key>CFBundleIconFile</key>
	<string>Client.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mersive.solstice.client</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Solstice Client 5.3.27923</string>
	<key>CFBundleName</key>
	<string>Solstice</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.3.27923</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mersive.SolsticeV2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>solsticelaunch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>ConferenceDriverVersion</key>
	<string>5.3.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B500</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B89</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1121</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Solstice uses this permission to capture audio from your device.</string>
	<key>VirtualCamPluginVersion</key>
	<string>5.3.2</string>
	<key>VirtualDesktopSpeakerVersion</key>
	<string>5.3.2</string>
</dict>
</plist>
